#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: black;
  user-select: none;
}

.game-area {
  display: flex;
  flex-direction: column;
}

.score-counter {
  font-size: 2.5rem;
  margin-bottom: 0;
}

.logo-image {
  height: 15rem;
  width: 15rem;
}

.game-buttons {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-on {
  background-color: green;
  color: white;
}

.button-off {
  pointer-events: none;
  background-color: gray;
  color: white;
}

.input-section {
  display: flex;
  gap: 1rem;
}

.input-field {
  width: 20rem;
  font-size: 1.1rem;
  padding-left: 1.2rem;
}